### Heroes Of Pymoli Data Analysis
* A vast majority of players are male (84.03%). 
* In terms of age demographics 77% of players are between the ages of 15-29, out of which 44% are between 20-24. 
* There seems to be no correlation between price of item and amount of items purchased.

In [1]:
import pandas as pd
import numpy as np

file = "Resources/purchase_data.csv"

data = pd.read_csv(file)

In [2]:
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
data['Price'] = data['Price'].astype(float)

In [4]:
# Used the unique fucntion to grab all unique gamertags within the list in order to find how many people play
unique_sn = data["SN"].unique()

In [5]:
# Used len function to find how many values exist in the array above ^^^
total_num_gamers = len(unique_sn)
total_num_gamers

576

In [6]:
# Created a DataFrame that displays total # of players 
total_num_gamers_summary = pd.DataFrame({'Total Number of Players': [total_num_gamers]})
total_num_gamers_summary

   Total Number of Players
0                      576

In [7]:
#Used same method as in In[202] to grab all unique elements
unique_item_id = data["Item ID"].unique()

In [8]:
#used len function to find out how many values exist 
num_unique_items=len(unique_item_id)
num_unique_items

183

In [9]:
#isolated the column with the prices 
price_column = data["Price"]

In [10]:
#took that column and used the mean function to get the average
price_average = price_column.mean(axis=0)
price_average

# Used sum function to add the values of all cells in the price column
total_revenue = sum(price_column)
total_revenue

2379.7699999999973

In [11]:
# Used the len function to count the total number of rows in dataframe
total_num_purchases = len(data)
total_num_purchases

780

In [12]:
# Created a summary table 
purchasing_summary_table = pd.DataFrame({
                                        "# of Unique Items":[num_unique_items],
                                        "Average Price": [price_average],
                                        "Number of Purchases": [total_num_purchases],
                                        "Total Revenue": [total_revenue]
                                        })

purchasing_summary_table.style.format({
                                       "Average Price":"${:,.2f}",
                                       "Total Revenue":"${:,.2f}"
                                      })

In [13]:
# Used loc function to target male players and used len fucntion to count them 
male_gamers = data.loc[data["Gender"] == "Male"]
num_male_gamers = len(male_gamers["SN"].unique())

# Used loc function to target female players and used len fucntion to count them 
female_gamers = data.loc[data["Gender"] == "Female"]
num_female_gamers = len(female_gamers["SN"].unique())

# Used loc function to target other players and used len fucntion to count them 
other_gamers = data.loc[data["Gender"] == "Other / Non-Disclosed"]
num_other_gamers = len(other_gamers["SN"].unique())

In [14]:
# Used basic math to grab avg of each gender
avg_male = (num_male_gamers / total_num_gamers) * 100 
avg_male

avg_female = (num_female_gamers / total_num_gamers) * 100
avg_female

avg_other = (num_other_gamers / total_num_gamers) * 100
avg_other

1.9097222222222223

In [15]:
# Created summary table using a data frame dictionary of lists
demog_summary_table1 = pd.DataFrame({
                                   "Total Count":[num_male_gamers,num_female_gamers, 
                                    num_other_gamers], 
                                   "Percentage of Players":[avg_male,avg_female,
                                    avg_other]
                                    })

In [16]:
# In order to get the gender as the index, I created a new column
demog_summary_table1[" "] = "Male","Female","Other"

In [17]:
# Used the set_index function to set that new column as the new index 
gender_summary_table = demog_summary_table1.set_index(' ')
gender_summary_table.style.format({"Percentage of Players":"{:,.2f}%"})

In [18]:
#used len function & previously named variables to count total number of male/female/other purchases
male_purchase_count = len(male_gamers)
male_purchase_count

female_purchase_count = len(female_gamers)
female_purchase_count

other_purchase_count = len(other_gamers)
other_purchase_count

15

In [19]:
# Created a list with the amount of each individual male/female/other purchase, and also got the avg of each list
male_purchases = male_gamers["Price"]
male_price_avg = male_purchases.mean(axis=0)

female_purchases = female_gamers["Price"]
female_price_avg = female_purchases.mean(axis=0)

other_purchases = other_gamers["Price"]
other_price_avg = other_purchases.mean(axis=0)

In [20]:
# Used sum function to get total purchase value by gender
total_male_purchase_value = sum(male_purchases)

total_female_purchase_value = sum(female_purchases)

total_other_purchase_value = sum(other_purchases)

In [21]:
# Divided a variable that holds the total purchase value by another variable that holds the number a unique male/female/other
avg_male_price_pp = total_male_purchase_value / num_male_gamers

avg_female_price_pp = total_female_purchase_value / num_female_gamers

avg_other_price_pp = total_other_purchase_value / num_other_gamers

In [22]:
#created df 
purchasing_analysis_by_gender_summary = pd.DataFrame({
                                                     
                                  "Purchase Count":[male_purchase_count, 
                                                   female_purchase_count, 
                                                   other_purchase_count],
                                  "Average Purchase Price":[male_price_avg, 
                                                           female_price_avg, 
                                                           other_price_avg],
                                  "Total Purchase Price":[total_male_purchase_value, 
                                                         total_female_purchase_value,
                                                         total_other_purchase_value],
                                   "Avg Total Purchase Per Person":[avg_male_price_pp, 
                                                                  avg_female_price_pp,
                                                                  avg_other_price_pp]
                                                    })

In [23]:
#formated df
purchasing_analysis_by_gender_summary[" "] = "Male", "Female", "Other"

purchasing_analysis_by_gender_summary = purchasing_analysis_by_gender_summary.set_index(" ")

purchasing_analysis_by_gender_summary.style.format({"Average Purchase Price":"${:,.2f}",
                                                   "Total Purchase Price":"${:,.2f}",
                                                   "Avg Total Purchase Per Person":"${:,.2f}"})

In [24]:
# Created bins
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 5569]
bin_names = ['< 10', '10-14', '15-19', '20-24', "25-29","30-34","35-39","40+"]

In [25]:
# used groupby to group df through "Age Groups"
data["Age Groups"] = pd.cut(data['Age'], bins, labels=bin_names)

In [26]:
groupd_by_agegroup = data.groupby('Age Groups')


age_group_count = groupd_by_agegroup["SN"].nunique()


percentage_by_age = (age_group_count/total_num_gamers) * 100

In [27]:
# created df based off of my groupby
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, 
                                 "Total Count": age_group_count})

age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [28]:
#used above groupby to find count, mean, sum, avg
purchase_count = groupd_by_agegroup['SN'].count()

avg_purchase_price = groupd_by_agegroup['Price'].mean()

total_purchase_value = groupd_by_agegroup['Price'].sum()

avg_purchase_pp = total_purchase_value / age_group_count

In [29]:
#created df
summary_table_age = pd.DataFrame({"Purchase Count": purchase_count, 
                                  "Average Purchase Price": avg_purchase_price, 
                                  "Total Purchase Value" : total_purchase_value, 
                                  "Avg Total Purchase Per Person": avg_purchase_pp})

summary_table_age.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase Per Person":"${:,.2f}"})

In [30]:
#created another groupby based on "SN"
groupd_by_sn = data.groupby('SN')

In [31]:
#used groupby to find sum, mean, "SN"
total_purchase_value_sn = groupd_by_sn['Price'].sum()


avg_purchase_price_sn = groupd_by_sn['Price'].mean()


purchase_count_sn = groupd_by_sn["SN"].count()

In [32]:
#created df and also changed format using style.format
summary_table_sn = pd.DataFrame({"Purchase Count": purchase_count_sn, 
                                 "Average Purchase Price": avg_purchase_price_sn, 
                                  "Total Purchase Value" : total_purchase_value_sn,})

summary_table_sn = summary_table_sn.sort_values(by='Total Purchase Value', ascending=False).head()

summary_table_sn.style.format({"Average Purchase Price":"${:,.2f}",
                              "Total Purchase Value":"${:,.2f}"})

In [33]:
#used groupby to group data on "Item ID" and "Item Name", used groupby to find count, unique, sum
groupd_by_id = data.groupby(["Item ID", "Item Name"])

purchase_count_id = groupd_by_id['Item Name'].count()

item_price = groupd_by_id['Price'].unique()

total_purchase_value_id = groupd_by_id['Price'].sum()

In [34]:
#created df
summary_table_id = pd.DataFrame({'Purchase Count': purchase_count_id, 
                                 'Item Price': item_price,
                                'Total Purchase Value': total_purchase_value_id})

summary_table_id = summary_table_id.sort_values(by='Purchase Count', ascending=False).head()

summary_table_id.style.format({"Total Purchase Value":"${:,.2f}"})

In [35]:
#created same df but sorted by 'total purchase value' instead of 'purchase count'
summary_table_id_d = pd.DataFrame({'Purchase Count': purchase_count_id, 
                                   'Item Price': item_price,
                                   'Total Purchase Value': total_purchase_value_id})

summary_table_id_d = summary_table_id.sort_values(by='Total Purchase Value', ascending=False).head()

summary_table_id_d.style.format({"Total Purchase Value":"${:,.2f}"})